<!--<div class="row">-->
    <!--<div class="col-xs-12">-->
        <!--<img ng-src="{{google_plus_user.image_url}}"/>-->
            <!--<span>-->
                <!--{{google_plus_user.full_name}}-->
            <!--</span>-->
        <!--<google-plus-signin clientid="4644920241-or3rocgiqb3156n1r5j7r40taetolkja"/>-->
    <!--</div>-->
<!--</div>-->

<md-button class="md-primary">fdsfds</md-button>

<form name="writeForm" class="form-inline" ng-submit="submit()">
    <div class="row">
        <div class="col-xs-7">
                <textarea class="form-control" rows="2" placeholder="COMMENT & RATE" ng-model="content" name="content"
                          required ng-focus="writeBoxFocus()" ng-blur="writeBoxBlur()"></textarea>
        </div>
        <div class="col-xs-5">
            <div ng-hide="social_connected">
                <h6>WHO ARE YOU?</h6>
                <p>
                    <google-plus-signin clientid="4644920241-or3rocgiqb3156n1r5j7r40taetolkja"/>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
            <span>
                OTHER
            </span>
                </p>
            </div>
            <div class="social-info" ng-show="social_connected">
                <img ng-src="{{google_plus_user.image_url}}">
                <span>{{google_plus_user.full_name}}</span>
                <span><i class="fa fa-sign-out"/></span>
            </div>
        </div>
    </div>
    <div class="row" ng-show="expanded">
        <div class="col-xs-7">
            <star-rating rating="rate" read-only="false" max-rating="5"/>
        </div>
        <div class="col-xs-5">
            <input type="submit" class="btn btn-primary" id="submit" ng-disabled="writeForm.content.$error.required"
                   value="Submit"/>
        </div>

    </div>
</form>


