<div class="dashboard" ng-controller="DashboardController" flex layout-fill ng-cloak>
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    Feedbacks Dashboard
                </h2>
            </div>
        </md-toolbar>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Overview">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Overview</h1>
                        <div layout="row" layout-align="center start">
                            <div google-chart chart="myChart" flex="0.4"></div>
                            <div google-chart chart="myChart2" flex="0.4"></div>
                        </div>

                    </md-content>
                </md-tab>
                <md-tab label="Catalogs">
                    <h1 class="md-display-2">Catalogs</h1>
                    <md-content class="md-padding simpleDemo" layout="row" layout-align="start stretch">
                        <section ng-repeat="catalog in models.catalogs" class="catalog-item">
                            <md-subheader class="md-primary">{{catalog.name}}</md-subheader>
                            <ul dnd-list="catalog.widgets">
                                <li ng-repeat="widget in catalog.widgets"
                                    dnd-draggable="widget"
                                    dnd-moved="catalog.widgets.splice($index, 1)"
                                    dnd-effect-allowed="move"
                                    dnd-selected="models.selected = widget"
                                    ng-class="{'selected': models.selected === item}">
                                    {{widget.widget_name}}
                                </li>
                            </ul>
                        </section>

                        <section class="catalog-item" layout="column" layout-align="space-around stretch">
                            <md-button ng-click="addCatalog()">Add catalog</md-button>
                        </section>
                    </md-content>

                    <md-content layout="row" layout-align="start start">
                        <md-button class="md-raised md-primary" ng-click="saveCatalogs()">Save</md-button>
                    </md-content>
                </md-tab>
                <md-tab label="FAQ">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">FAQ</h1>
                        <p>
                            Question?
                        </p>
                        <p>
                            Answer
                        </p>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
</div>

