<div class="dashboard" ng-controller="DashboardController" flex layout-fill ng-cloak>
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    Feedbacks Dashboard
                </h2>
            </div>
        </md-toolbar>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Overview">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Overview</h1>
                    <!--<div layout="row" layout-align="center start">-->
                        <!--<div google-chart chart="myChart" flex="0.4"></div>-->
                        <!--<div google-chart chart="myChart2" flex="0.4"></div>-->
                    <!--</div>-->

                </md-content>
            </md-tab>
            <md-tab label="Catalogs">
                <md-content class="md-padding">
                    <p>Here you can categorize your widgets by adding them to catalogs. You may add more catalogs or
                        delete them if so you wish.
                        The "Default Catalog" contains all the widgets which haven't been added to a catalog.</p>
                    <!--<h1 class="md-display-2">Catalogs</h1>-->
                    <md-progress-circular md-mode="indeterminate" ng-if="loading_catalogs"
                                          md-diameter="70"></md-progress-circular>

                    <md-content class="md-padding simpleDemo" layout="row" layout-align="start stretch"
                                ng-hide="loading_catalogs">
                        <div ng-repeat="catalog in models.catalogs">
                            <section ng-if="catalog.deleted == false" class="catalog-item">
                                <md-subheader class="md-primary">
                                    <div layout="row" layout-align="space-between start">
                                        <md-input-container layout-fill>
                                            <label>Catalog Name</label>
                                            <input ng-model="catalog.name" md-maxlength="45"
                                                   ng-disabled="catalog.name == 'Default Catalog'" md-select-on-focus>
                                        </md-input-container>
                                        <md-button ng-click="removeCatalog(catalog.id, catalog.widgets)"
                                                   class="md-icon-button md-primary"
                                                   ng-if="catalog.name != 'Default Catalog'">
                                            <md-tooltip md-direction="right">
                                                Delete
                                            </md-tooltip>
                                            <md-icon md-svg-src="images/ic_delete_black_18px.svg"></md-icon>
                                        </md-button>
                                    </div>
                                </md-subheader>
                                <ul dnd-list="catalog.widgets">
                                    <li ng-repeat="widget in catalog.widgets"
                                        dnd-draggable="widget"
                                        dnd-moved="catalog.widgets.splice($index, 1)"
                                        dnd-effect-allowed="move"
                                        dnd-selected="models.selected = widget"
                                        ng-class="{'selected': models.selected === item}">
                                        {{widget.widget_name}}
                                    </li>
                                </ul>
                            </section>
                        </div>
                    </md-content>
                    <md-content layout="row" layout-align="start start" ng-hide="loading_catalogs">
                        <section class="catalog-item" layout="row" layout-align="space-around stretch">
                            <md-button ng-click="addCatalog()">Add catalog</md-button>
                            <md-button ng-click="undoChanges()">Undo Changes</md-button>
                            <md-button class="md-raised md-primary" ng-click="saveCatalogs()">Save</md-button>
                        </section>
                    </md-content>
                </md-content>
            </md-tab>
            <md-tab label="Widgets">
                <widgets-overview>
            </md-tab>
            <md-tab label="FAQ">
                <md-content class="md-padding">
                    <h1 class="md-display-2">FAQ</h1>
                    <p>
                        Question?
                    </p>
                    <p>
                        Answer
                    </p>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>

