<div ng-cloak>
    <div layout="row" layout-align="space-around" ng-if="!settings">
        <md-progress-circular md-mode="indeterminate" md-diameter="120"></md-progress-circular>
    </div>
    <md-content layout="column" layout-align="space-between none" ng-show="settings">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Features" layout="column">
                <md-content flex layout-padding>
                    <section>
                        <md-subheader>Comments</md-subheader>
                        <div layout="row" layout-align="space-between center">
                            <span>Enable comments</span>
                            <md-switch ng-model="settings.enable_comments" aria-label="Enable comments"/>
                        </div>
                        <div layout="row" layout-align="space-between center">
                            <span>Required?</span>
                            <md-checkbox ng-model="settings.comment_required" ng-disabled="true"
                                         aria-label="Comment required"/>
                        </div>

                        <div layout="row" layout-align="space-between center">
                            <span flex="40">Comment maximum-length</span>
                            <md-slider flex ng-model="settings.comment_max_length" min="10" max="300"
                                       aria-label="Comment maximum length"></md-slider>
                            <md-input-container class="md-block" flex="10">
                                <input required type="number" step="any" name="rate" ng-model="settings.comment_max_length" min="10"
                                       max="300" aria-label="Comment maximum length"/>
                            </md-input-container>
                        </div>
                    </section>
                    <section>
                        <md-subheader>Ratings</md-subheader>
                        <div layout="row" layout-align="space-between center">
                            <span>Enable ratings</span>
                            <md-switch ng-model="settings.enable_ratings" aria-label="Enable ratings"/>
                        </div>
                        <div layout="row" layout-align="space-between center">
                            <span>Required?</span>
                            <md-checkbox ng-model="settings.rating_required" ng-disabled="true"
                                         aria-label="Rating required"/>
                        </div>
                        <div layout="row" layout-align="space-between center">
                            <span flex="40">Rating steps</span>
                            <md-slider flex md-discrete ng-disabled="true" ng-model="settings.max_rating" step="1"
                                       min="3" max="10"
                                       ng-readonly="readonly" aria-label="Max rating">
                            </md-slider>
                        </div>
                    </section>
                </md-content>
            </md-tab>
            <md-tab label="Appearance" layout="column">
                <md-content flex layout-padding>
                    <section>
                        <md-subheader>Display</md-subheader>
                        <div layout="row" layout-align="space-between center">
                            <span>Summary</span>
                            <md-switch ng-model="settings.show_summary" aria-label="Show summary"/>
                        </div>
                        <div layout="row" layout-align="space-between center">
                            <span>Feedbacks</span>
                            <md-switch ng-model="settings.show_feedbacks" aria-label="Show feedbacks"/>
                        </div>
                    </section>
                    <section>
                        <md-subheader>Themes</md-subheader>
                        <div layout="row" layout-padding layout-align="space-between center">
                            <span>Not yet.. :)</span>
                        </div>
                    </section>
                </md-content>
            </md-tab>
            <md-tab label="Properties" layout="column">
                <md-content flex layout-padding>
                    <section>
                        <md-subheader>General</md-subheader>
                        <div layout="row" layout-align="space-between center">
                            <div layout="column" flex="60">
                                <span>
                                Widget name
                                <p>
                                    While not required, naming a widget lets you access additional features in the <a
                                        href="#">dashboard</a>.
                                </p>
                                    </span>
                            </div>
                            <md-input-container>
                                <label>Widget name</label>
                                <input ng-model="settings.widget_name">
                            </md-input-container>
                        </div>
                        <div layout="row" layout-align="space-between center">
                            <span>
                                Catalog
                            </span>
                            <div layout="row" layout-align="end center">
                                <md-select placeholder="Assign to catalog" ng-model="catalog" flex="40">
                                    <md-option ng-value="catalog" ng-repeat="catalog in catalogs">
                                        {{catalog.name}}
                                    </md-option>
                                </md-select>
                                <md-button ng-click="settings.catalog = undefined" ng-disabled="!settings.catalog"
                                           style="margin-left: 20px;">Clear
                                </md-button>
                            </div>
                        </div>
                    </section>
                </md-content>
            </md-tab>
        </md-tabs>
        <md-divider></md-divider>
        <md-content flex layout-padding layout="row" layout-align="space-between center">
            <div>
                <md-button ng-click="goToDash()">Go to dashboard</md-button>
            </div>
            <div>
                <md-button class="md-raised" ng-click="revertChanges()">Revert</md-button>
                <md-button class="md-raised" ng-click="applyChanges()">Apply</md-button>
                <md-button class="md-raised md-primary" ng-click="save()">Save settings</md-button>
            </div>
        </md-content>
    </md-content>
</div>