<!--<header class="box">-->
  <!--<div class="logo">-->
    <!--<img width="86" src="images/wix_icon.png" alt="logo"/>-->
  <!--</div>-->
  <!--<div class="loggedOut">-->
    <!--<p>-->
      <!--{{description}}-->
    <!--</p>-->

    <!--<div class="login-panel">-->
      <!--<p class="create-account"></p>-->
      <!--<button class="submit uilib-btn connect">{{'connect'}}</button>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="loggedIn hidden">-->
    <!--<p>{{'connected'}}<br/>-->
      <!--<a class="disconnect-account">{{'disconnect' }}</a></p>-->

    <!--<div class="premium-panel">-->
      <!--<p class="premium-features ">{{'premium' }}</p>-->
      <!--<button class="submit uilib-btn btn-upgrade upgrade">{{'upgrade' }}</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</header>-->

<!--<div wix-ctrl="Accordion">-->

  <!--<div class="acc-pane">-->
    <!--<h3>General Settings: </h3>-->

    <!--<div class="acc-content">-->
      <!--<ul class="list">-->
        <!--<li wix-label="Image Visibility:">-->
          <!--<div wix-model="imageVisibility" wix-ctrl="Dropdown" style="width:144px">-->
            <!--<option value="show">Show Images</option>-->
            <!--<option value="hide">Hide Images</option>-->
            <!--<option value="showhover">Show Images on Hover</option>-->
          <!--</div>-->
        <!--</li>-->
        <!--<li wix-label="Number of images:">-->
          <!--<div wix-model="numOfImages" wix-ctrl="Slider" wix-options="{ preLabel:'0', postLabel:'100'}"></div>-->
        <!--</li>-->
        <!--<li wix-label="Show Icons:">-->
          <!--<div wix-model="isIconShown" wix-ctrl="Checkbox"></div>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="acc-pane">-->
    <!--<h3>Color Settings (wix-params demo): </h3>-->

    <!--<div class="acc-content">-->
      <!--<ul class="list">-->
        <!--<li wix-label="Text Color:">-->
          <!--<div wix-param="textColor" wix-ctrl="ColorPickerWithOpacity" wix-options="{startWithColor:'color-5'}"></div>-->
        <!--</li>-->
        <!--<li wix-label="Background Color:">-->
          <!--<div wix-param="backgroundColor" wix-ctrl="ColorPickerWithOpacity"-->
               <!--wix-options="{startWithColor:'color-1'}"></div>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="acc-pane">-->
    <!--<h3>Sync Options</h3>-->

    <!--<div class="acc-content">-->
      <!--<p>How many images to sync ?</p>-->

      <!--<div wix-model="imagesToSync" wix-ctrl="Radio">-->
        <!--<div data-radio-value="sync10">Sync 10 images</div>-->
        <!--<div data-radio-value="sync25">Sync 25 images</div>-->
        <!--<div data-radio-value="sync50">Sync 50 images</div>-->
      <!--</div>-->
      <!--<p>Sync Meta Data ?</p>-->

      <!--<div wix-model="imageMeta" wix-ctrl="Checkbox:{ postLabel:'Image Meta'}"></div>-->
      <!--<div wix-model="imageAlt" wix-ctrl="Checkbox:{ postLabel:'Image Alt'}"></div>-->
      <!--<div wix-model="imageLink" wix-ctrl="Checkbox:{ postLabel:'Image Link'}"></div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="acc-pane">-->
    <!--<h3>Button Group</h3>-->

    <!--<div class="acc-content">-->
      <!--<div wix-model="adsSize" wix-ctrl="ButtonGroup">-->
        <!--<button value="mini">Mini</button>-->
        <!--<button value="medium">Medium</button>-->
        <!--<button value="large">Large</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

<!--</div>-->
<div ng-cloak>
    <md-content layout="column" layout-align="space-between none">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Features" layout="column">
                <md-content flex layout-padding>
                    <section>
                    <md-subheader>Comments</md-subheader>
                    <div layout="row" layout-align="space-between center">
                            <span>Enable comments</span>
                            <md-switch ng-model="showHinssts"/>
                    </div>
                        <div layout="row" layout-align="space-between center">
                            <span>Required?</span>
                            <md-checkbox ng-model="showHinsstss"/>
                        </div>

                        <div layout="row" layout-align="space-between center">
                                <span flex="40">Comment maximum-length</span>
                            <md-slider flex ng-model="color.blue" min="10" max="300" aria-label="blue" id="blue-slider" class="md-primary">
                            </md-slider>
                            <div flex="10" layout layout-align="center center">
                                <input flex type="number" ng-model="color.blue" aria-label="blue" aria-controls="blue-slider">
                            </div>
                        </div>
                        </section>
                    <section>
                        <md-subheader>Ratings</md-subheader>
                        <div layout="row" layout-align="space-between center">
                            <span>Enable ratings</span>
                            <md-switch ng-model="showHinssts"/>
                        </div>
                        <div layout="row" layout-align="space-between center">
                            <span>Required?</span>
                            <md-checkbox ng-model="showHinsstss"/>
                        </div>
                        <div layout="row" layout-align="space-between center">
                            <span flex="40">Rating steps</span>
                            <md-slider flex md-discrete ng-model="rating3" step="1" min="3" max="10" aria-label="rating">
                            </md-slider>
                        </div>

                    </section>
                </md-content>
            </md-tab>
            <md-tab label="Design" layout="column">
                <md-content flex layout-padding>
                <section>
                    <md-subheader>Nothing yet</md-subheader>
                </section>
                    </md-content>
            </md-tab>
            <md-tab label="Properties" layout="column">
                <md-content flex layout-padding>
                    <section>
                        <md-subheader>General</md-subheader>
                        <div layout="row" layout-align="space-between center">
                            <div layout="column" flex="60">
                                <span>
                                Widget name
                                <p>
                                    While not required, naming a widget lets you access additional features in the <a href="#">dashboard</a>.
                                </p>
                                    </span>
                            </div>
                            <md-input-container >
                                <label>Widget name</label>
                                <input ng-model="user.title">
                            </md-input-container>
                        </div>
                        <div layout="row" layout-align="space-between center">
                            <span>
                                Catalog
                            </span>
                            <md-select placeholder="Assign to catalog" ng-model="catalog" md-on-open="loadCatalogs()" flex="40">
                                <md-option ng-value="catalog" ng-repeat="catalog in catalogs">{{catalog}}</md-option>
                            </md-select>
                        </div>
                    </section>
                </md-content>
            </md-tab>
        </md-tabs>
<md-divider></md-divider>
        <md-content flex layout-padding layout="row" layout-align="space-between center">
            <div>
                <md-button>Go to dashboard</md-button>
            </div>
            <div>
                <md-button class="md-raised">Revert</md-button>
                <md-button class="md-raised md-primary">Save settings</md-button>
            </div>
        </md-content>
    </md-content>
</div>