body, html {
    background-color: rgba(0, 0, 0, 0) !important;
    margin: 0;
}

md-content {
    background-color: rgba(0, 0, 0, 0) !important;
    margin: 0;
}

md-card{
    margin: 0;
}

.summary-card {
    margin-bottom: 10px;
}

.widget{
    background-color: rgba(0, 0, 0, 0) !important;
    border: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.widget.rounded{
    border-radius: 6px;
}

.widget textarea{
    box-sizing: border-box;
    resize: none;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

.message {
    padding: 15px;
    border: 4px solid;
}

#feedback-list{
}

.widget #submit{
}

.social-info img{
    height: 54px;
}

.top-buffer {
    margin-top: 10px;
}

.feedback h4 {
    font-weight: 600 !important;
}

.feedback .time-ago {
    font-weight: 400 !important;
    font-size: 0.8em;
}

.transparent-background { background-color: rgba(0, 0, 0, 0) !important; }

.summary star-rating {
    font-size: 1.6em;
}
.summary span {
    color: rgb(163, 163, 163);
    font-size: 1em;
}

.avatar {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border: 0;
    border-radius: 25px;
}

.scroll-this {
    overflow: auto;
}

.post-button{
    margin-right: 0
}

.log-out a:link,a:visited {
    color: #a0a0a0;
    font-size: 0.8em;
    font-weight: 600;
}
/* mouse over link */
a:hover {
    color: #555555;
}

.logged-user{
    margin-right: 12px;
    white-space: nowrap;
}

#sign-in-button{
    color: #dd4933;
    font-size: 0.8em;
    font-weight: 600;
}

#sign-in-button:hover{
    color: #c63c27;
    text-decoration: underline;
    cursor: pointer;
}

.summary .angular-input-stars > li {
    padding: 0;
    font-size: 2em;
}

.angular-input-stars > li {
    padding: 0;
    font-size: 1em;
    width:1em;
    margin-right: 0.1em;
    margin-left: 0.1em;
    line-height: 1em;
}

.comment-length{
    font-size: 0.85em;
    color: #878787;
}