body {
    background-color: transparent;
    margin: 0;
}

.widget{
    background-color: transparent;
    border: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.widget.rounded{
    border-radius: 6px;
}

.widget textarea{
    box-sizing: border-box;
    resize: none;
}

.message {
    padding: 15px;
    border: 4px solid;
}

#feedback-list{
}

.widget #submit{
}

.social-info img{
    height: 54px;
}

.top-buffer {
    margin-top: 10px;
}

.widget .feedback {
    margin-top: 10px;
    clear: both;
    border: 0;
    display: block;
    overflow: hidden;
    background-color: #f6f6f6;
}

.widget .feedback .info{
    float: left;
    padding-top: 10px;
}