<!doctype html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <base target="_parent"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower/wix-ui-lib2/ui-lib.min.css"/>
    <link rel="stylesheet" href="styles/widget.css">
    <link rel="stylesheet" href="styles/settings.css">
    <link rel="stylesheet" href="styles/dashboard.css">
    <link rel="stylesheet" href="styles/google-plus-signin.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.42.0/js/wix.min.js"></script>

</head>
<body data-ng-app="feedbacks">
<div data-ng-view=""></div>

<script src="bower/jquery/dist/jquery.min.js"></script>
<script src="bower/angular/angular.min.js"></script>
<script src="bower/angular-route/angular-route.js"></script>
<script src="bower/angular-animate/angular-animate.min.js"></script>
<script src="bower/angular-aria/angular-aria.min.js"></script>
<script src="bower/angular-messages/angular-messages.min.js"></script>
<script src="bower/angular-material/angular-material.min.js"></script>
<script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
<script src="node/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
<script src="scripts/feedbacks.js"></script>
<script src="scripts/services/wix.js"></script>
<script src="scripts/services/data.js"></script>
<script src="scripts/services/application.js"></script>
<script src="scripts/feedbacks.js"></script>
<!--<script src="scripts/widget.js"></script>-->
<!--<script src="scripts/settings.js"></script>-->
<!--<script src="scripts/dashboard.js"></script>-->
<script src="scripts/controllers/widget.js"></script>
<script src="scripts/controllers/settings.js"></script>
<script src="scripts/controllers/dashboard.js"></script>
<script src="scripts/directives/widget.js"></script>
<script src="scripts/directives/resize.js"></script>
<script src="scripts/directives/google-plus-signin.js"></script>
<script src="node/moment/moment.js"></script>
<script src="node/angular-moment/angular-moment.js"></script>
<script src="//localhost:35729/livereload.js"></script>
</body>
</html>