<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <base target="_parent" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/widget.css">
      <link rel="stylesheet" href="styles/google-plus-signin.css">
    <script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.42.0/js/wix.min.js"></script>
      <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->

  </head>
  <body data-ng-app="widget">
    <div data-ng-view=""></div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="scripts/services/wix.js"></script>
    <script src="scripts/services/feedbacksData.js"></script>
    <script src="scripts/widget.js"></script>
    <script src="scripts/controllers/widget.js"></script>
    <script src="scripts/directives/widget.js"></script>
    <script src="scripts/directives/resize.js"></script>
    <script src="scripts/directives/google-plus-signin.js"></script>

    <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>
